aside#column .icon-cheveron-up:before {
  font-size: var(--base-space);
  border: 1px solid;
  border-radius: 50%;
  transform: rotate(-90deg);
  display: inline-block;
  transform-origin: center;
  cursor: pointer;
  position: absolute;
  top: calc(var(--base-space) / -2);
  right: calc(var(--base-space) / -2);
  transition: all .4s ease-in-out;
  background-color: var(--white);
}
aside#column.collapsed .icon-cheveron-up:before {
  transform: rotate(90deg);
}

aside#column {
  color: var(--white);
}

aside#column h3 {
  color: var(--white);
  background-color: var(--darkest-gray);
  font-size: var(--font-size-small);
  font-weight: 600;
  margin: 0;
  padding: var(--main-padding);
  text-transform: uppercase;
}

/* aside#column ul {
  background-color: var(--black);
  font-size: var(--font-size-small);
}

aside#column li {
  padding: var(--small-space) var(--small-space) var(--small-space);
} */

/* aside#column #transactions-upload {
  margin-top: var(--xx-large-space);
} */

aside#column #drop {
  padding: var(--xx-large-space) 0;
  border: 2px dashed var(--light-gray);
  border-radius: var(--border-radius-small);
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: .4s;
  width: 100%;
}

aside#column #loaded-files {
  margin-top: var(--main-padding);
}