.img_icon::before {
  content: ' ';
  display: inline-block;
  width: var(--base-space);
  height: var(--base-space);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: var(--xx-small-space);
}