#home #transactions-upload {
  margin-top: var(--xx-large-space);
}

#home #drop {
  padding: var(--xx-large-space);
  border: 2px dashed var(--light-gray);
  border-radius: var(--border-radius-small);
  text-align: center;
  color: var(--darker-gray);
  cursor: pointer;
  transition: .4s;
  width: 75%;
}