#transactions {}

#transactions main>div {}

#transactions table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

#transactions th,
#transactions td {
    border: 1px solid #444;
    padding: 6px 10px;
    text-align: left;
}

#transactions th {
    background: #eee;
    font-weight: bold;
}


/* --- Modalità stampa --- */
@media print {

    /* Nasconde il grafo */
    #transactions #graph {
        visibility: hidden !important;
    }

    /* Nasconde pulsanti, titoli, margini non necessari */
    #transactions button {
        display: none !important;
    }

    #transactions body {
        margin: 0;
        padding: 0;
    }

    /* Imposta layout A4 verticale */
    @page {
        size: A4 landscape;
        margin: 10mm;
    }

    /* Evita spezzature brutte delle righe tra le pagine */
    #transactions tr,
    #transactions td,
    #transactions th {
        page-break-inside: avoid;
    }

    #transactions table {
        font-size: 11px;
        /* più piccolo per stare in A4 */
        page-break-inside: auto;

    }

    #transactions tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    #transactions thead {
        display: table-header-group;
    }

    #transactions tfoot {
        display: table-footer-group;
    }
}